git+https://github.com/BioroboticsLab/bb_binary.git#egg=bb_binary
git+https://github.com/BioroboticsLab/beesbook_backend.git#egg=bb_backend
ipykernel>=4.8.2
ipywidgets>=7.3.0
jupyter>=1.0.0
matplotlib>=1.5.1
notebook>=5.6.0
numba>=0.39.0
numpy>=1.11.0
pandas>=0.17.1
Pillow>=5.2.0
psycopg2>=2.7.5
scikit-image>=0.10.1
scikit-learn>=0.19.2
scipy>=0.17.0
seaborn>=0.6.0
torch
torchvision>=0.2.1
tqdm>=4.24.0
imgaug>=0.2.6
